@use "global" as *;

.top-blog-cards{
  width: 100%;
}

.top-blog-cards__inner{
  padding-top: rem(30);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  padding-left: rem(6);
  padding-right: rem(6);
}

/*PC画面======================================*/
@include mq("md") {

  .top-blog-cards{
    width: 100%;
    margin: 0 auto;
  }

  .top-blog-cards__inner{
    padding-top: rem(83);
    flex-direction: row;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
  }
}