@use "global" as *;

.campaign {
  width: 100%;
}

.campaign__head {
  width: inherit;
  position: relative;
  padding-top: rem(40);
}

.campaign__inner {
  width: calc(100% - rem(15));
  margin-left: rem(15);
  padding-top: rem(24);
  padding-bottom: rem(4);
  overflow: hidden;
}

.campaign .campaign__slide {
  overflow: initial;
}

.campaign__buttom {
  margin-top: rem(35);
  text-align: center;
}

/*PC画面======================================*/
@include mq("md") {

  .campaign__head {
    padding-top: rem(120);
  }

  .campaign__inner {
    width: calc(100% - rem(180));
    padding-top: rem(36);
    margin-left: rem(180);
  }

  .campaign__buttom {
    margin-top: rem(76);
    text-align: center;
  }
}