@use "global" as *;

/*共通ボタン*/
.footer {
    width: 100%;
    background-color: $green_accent;
    margin-top: rem(96);
    padding-top: rem(48);
    padding-bottom: rem(56);
}

.footer a:hover {
    opacity: 0.7;
    cursor: pointer;
}

//インナー
.footer__inner {
    margin: 0 auto;
    width: rem(345);
}

/*PC画面======================================*/
@include mq("md") {

    /*共通ボタン*/
    .footer {
        margin-top: rem(156);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }

    //インナー
    .footer__inner {
        width: 100%;
        max-width: 1080px;
    }

}