@use "global" as *;

/*共通ボタン*/
.header {
    width: 100%;
    background-color: rgba(13, 41, 54, 0.68);
}

//インナー
.header__inner {
    padding-top: rem(21);
    padding-bottom: rem(21);
    padding-left: rem(15);
    padding-right: rem(15);
    display: flex;
}

.header__navigation {
    display: none;
}

/*ハンバーガーメニュー*/
.header__hamburger {
    display: block;
    width:  rem(32);
}


/*PC画面======================================*/
@include mq("md") {

    //インナー
    .header__inner {
        padding-top: rem(20);
        padding-bottom: rem(20);
        padding-left: rem(40);
        padding-right: rem(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*ロゴ*/
    .header__logo-wrap {
        width: rem(133);
    }

    /*ナビゲーション*/
    .header__navigation {
        display: block;
    }

    /*ハンバーガーメニュー*/
    .header__hamburger {
        display: none;
    }
}