@use "global" as *;

/*共通ボタン*/
.header {
    width: 100%;
    height: rem(80);
    background-color: rgba(13, 41, 54, 0.68);
    position: fixed;
    top: 0;
    z-index: 100;
}

//インナー
.header__inner {
    height: inherit;
    padding-left: rem(15);
    padding-right: rem(15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner a:hover{
    opacity: 0.7;
}

.header__navigation {
    display: none;
}

/*ハンバーガーメニュー*/

.header__hamburger{
    display: block;
}

/*PC画面======================================*/
@include mq("md") {

    /*共通ボタン*/
    .header {
        height: rem(90);
    }

    //インナー
    .header__inner {
        padding-left: rem(40);
        padding-right: rem(40);
    }

    /*ナビゲーション*/
    .header__navigation {
        display: block;
        width: fit-content;
        height: 100%;
    }

    .header__navigation-inner {
        width: inherit;
        height: inherit;
    }
}