@use "global" as *;

/*共通ボタン*/
.header {
    width: 100%;
    background-color: rgba(13, 41, 54, 0.68);
    position: fixed;
    z-index: 100;
}

//インナー
.header__inner {
    padding-left: rem(15);
    padding-right: rem(15);
    padding-top: rem(21);
    padding-bottom: rem(21);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: none;
}

/*ハンバーガーメニュー*/

.header__hamburger{
    display: block;
    /*position: absolute;
    top: rem(28);
    right: rem(10);
    z-index: 3;*/
}

/*PC画面======================================*/
@include mq("md") {

    //インナー
    .header__inner {
        padding-top: rem(20);
        padding-bottom: rem(20);
        padding-left: rem(40);
        padding-right: rem(40);
    }

    /*ナビゲーション*/
    .header__navigation {
        display: block;
    }
}