@use "global" as *;

/*スマホ*/
.main-title__big-text{
    font-size:  rem(40);
    font-weight: $regular;
    letter-spacing: 0.54em;
    text-indent: 0.54em;
    line-height: calc( 48 / 40 );
    font-family: $fourth-font-family;
    color: $white;
    text-align: center;
}

.main-title__small-text{
    display: block;
    text-align: center;
    color: $white;
    font-size:  rem(20);
    font-weight: $regular;
    font-family: $base-font-family;
    letter-spacing: 0em;
    line-height: calc( 33 / 20 );
}



/*PC画面======================================*/
@include mq("md") {
    .main-title__big-text{
        font-size:  rem(80);
        font-weight: $regular;
        letter-spacing: 0.54em;
        text-indent: 0.54em;
        line-height: calc( 100 / 80 );
    }

    .main-title__small-text{
        display: block;
        text-align: center;
        font-size:  rem(20);
        letter-spacing: 0em;
        line-height: calc( 33 / 20 );
    }
}