@use "global" as *;

//ページトップに戻るボタン
.page-top {
  width:  rem(48);
  aspect-ratio: 48 / 48;
  object-fit: cover;
  height: auto;
  position: fixed;
  right: rem(15);
  bottom: rem(15);
  z-index: 100;
  border-radius: 50%;
  border: 1px $green_accent solid;
  background: $white;
  position: relative;
}

.page-top::before{
  content: "";
  width: 1px;
  height: rem(40);
  background: $green_accent;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.page-top::after{
  content: "";
  width: 1px;
  height: rem(10);
  background: $green_accent;
  position: absolute;
  right: rem(41);
  top: 23%;
  width: 1px;
  rotate: 40deg;
}

.page-top.js-page-top{
  display: none;
}

.page-top.js-page-top.show{
  display: block;
}


/*PC画面======================================*/
@include mq("md") {
  .page-top {
    width:  rem(80);
    aspect-ratio: 80 / 80;
    object-fit: cover;
    height: auto;
    position: fixed;
    right: rem(20);
    bottom: rem(20);
  }

}