@use "global" as *;

.top-voice-cards{
  width: 100%;
}

.top-voice-cards__inner{
  padding-top: rem(46);
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

/*PC画面======================================*/
@include mq("md") {

  .top-voice-cards{
    width: inherit;
    margin: 0 auto;
  }

  .top-voice-cards__inner{
    padding-top: rem(33);
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
  }

  .top-voice-cards__inner:after{
    content: '';
    display: block;
    position: absolute;
    bottom: rem(-205);
    right: 0;
    width: rem(71);
    aspect-ratio: 71 / 162;
    background-image: url(../images/top/top_voice2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

}