@use "global" as *;

.top-voice-cards__inner{
  margin-top: rem(46);
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
}

/*PC画面======================================*/
@include mq("md") {

  .top-voice-cards{
    width: inherit;
    margin: 0 auto;
  }

  .top-voice-cards__inner{
    margin-top: rem(33);
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }

  .top-voice-cards__inner:after{
    content: '';
    display: block;
    position: absolute;
    bottom: rem(-205);
    right: 0;
    width: rem(71);
    aspect-ratio: 71 / 162;
    background-image: url(../images/top/top_voice2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

}