@use "global" as *;

.top-voice{
  margin-top: rem(76);
}

.top-voice__inner{
  max-width: 600px;
  margin: 0 auto;
}

.top-voice__button{
  text-align: center;
  margin-top: rem(40);
}


/*PC画面======================================*/
@include mq("md") {

  .top-voice{
    position: relative;
    margin-top: rem(134);
  }

  .top-voice::before{
    content: '';
    display: block;
    position: absolute;
    top: rem(-120);
    left: rem(100);
    width: rem(301);
    aspect-ratio: 301 / 138;
    background-image: url(../images/top/top_voice1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .top-voice__inner{
    position: relative;
    max-width: initial;
  }

  .top-voice__button{
    margin-top: rem(80);
  }

}