@use "global" as *;

.top-voice{
  width: 100%;
}

.top-voice__inner{
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  padding-top: rem(76);
}

.top-voice__button{
  text-align: center;
  margin-top: rem(40);
}


/*PC画面======================================*/
@include mq("md") {


  .top-voice__inner{
    position: relative;
    padding-top: rem(136);
    padding-bottom: rem(67);
  }

  /*.top-voice__inner::before{
    content: '';
    display: block;
    position: absolute;
    top: rem(20);
    left: rem(100);
    width: rem(301);
    aspect-ratio: 301 / 138;
    background-image: url(../images/top/top_voice1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .top-voice__inner::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: rem(180);
    width: rem(71);
    aspect-ratio: 71 / 162;
    background-image: url(../images/top/top_voice2.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }*/

  .top-voice__button{
    margin-top: rem(80);
  }

}